


<div class="sidebar-inner c-overflow">
  <div class="profile-menu">
    <a href="" toggle-submenu>
      <div class="profile-pic">
        <img src="@routes.Assets.versioned("material_admin/angular/img/profile-pics/1.jpg")" alt="">
      </div>

      <div class="profile-info">
                Malinda Hollaway

        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
  </div>

  <ul class="main-menu">

    <li data-ui-sref-active="active" class="active toggled">
      <a href="#"><i class="zmdi zmdi-home"></i> Home</a>
    </li>




  </ul>
</div>
